.ticker_analytics_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 50rem;
}

.flex_center_row {
  display: flex;
  justify-content: space-between;
  max-height: 50rem;
}